* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
p {
  font-family: Lato;
}

.container {
  background-color: lightgray;
  padding: 5px;
  margin: 5px 0;
  text-align: center;
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #000;
}

.qty {
  color: blue;
}

.buy-btn {
  width: 90%;
  color: blue;
  padding: 3px 5px;
  border-radius: 5px;
  background: yellow;
}

.show-btn {
  color: blue;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: lightgreen;
}

.product-layout {
  width: 200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.product-info {
  flex: 35%;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100%;
}

.product-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55%;
  min-height: 100%;
}

.product-image > img {
  width: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
